In [29]:
import pandas as pd

 # Data introduction start

In [30]:
data = pd.read_csv('0_credit.csv',encoding='latin-1')
data.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [31]:
data.shape

(100514, 19)

In [32]:
data.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [33]:
data.drop(['Loan ID', 'Customer ID'], axis=1, inplace=True)

# Missing data Initialisation

In [34]:
data.isnull().sum()

Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [35]:
data.dropna(thresh=2).isnull().sum()

Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    19154
Annual Income                   19154
Years in current job             4222
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    53141
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      204
Tax Liens                          10
dtype: int64

In [36]:
##drop514 empty rows
data = data.dropna(thresh=2)

In [37]:
##drop 10+2 rows
data= data[data['Tax Liens'].notna() & data['Maximum Open Credit'].notna()]

In [38]:
# ask guys first
data= data.drop(data[data['Bankruptcies'].isnull()].index)

In [39]:
len(data[data['Credit Score'].isnull() & data['Annual Income'].isnull() & data['Years in current job'].isnull()])

810

In [40]:
## on supprime les lignes pour (Annual Income && Credit Score && Years in current job) == null  (810 lignes)
data= data.drop(data[data['Credit Score'].isnull() & data['Annual Income'].isnull() & data['Years in current job'].isnull()].index)

In [41]:
data.isnull().sum()

Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    18301
Annual Income                   18301
Years in current job             3412
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    52722
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 0
Bankruptcies                        0
Tax Liens                           0
dtype: int64

In [42]:
data.drop(['Months since last delinquent'], axis=1, inplace=True)

In [43]:
len(data)

98984

# duplicated values

In [44]:
data.duplicated().sum()

10201

In [45]:
#Drops duplicated values
data= data.drop_duplicates()

In [46]:
len(data)

88783

# variables constants

In [47]:
## Tax Liens
len(data[data['Tax Liens']== 0])/len(data)

0.9812576732032033

In [48]:
data.drop(['Tax Liens'], axis=1, inplace=True)

# Qualitatif variables and discretisation

In [49]:
data['Term'].value_counts() #ok

Short Term    65140
Long Term     23643
Name: Term, dtype: int64

In [50]:
data['Years in current job'].value_counts() #ok

10+ years    27726
2 years       8227
3 years       7321
< 1 year      7317
5 years       6128
1 year        5808
4 years       5500
6 years       5125
7 years       4986
8 years       4110
9 years       3543
Name: Years in current job, dtype: int64

In [51]:
data['Purpose'].value_counts() #discretisation

Debt Consolidation      70099
Home Improvements        5172
other                    5148
Other                    2850
Business Loan            1349
Buy a Car                1151
Medical Bills             964
Buy House                 580
Take a Trip               482
major_purchase            326
small_business            247
moving                    133
wedding                   102
vacation                   87
Educational Expenses       85
renewable_energy            8
Name: Purpose, dtype: int64

In [52]:
## remplacer les valeurs rares avec 'Other'
data= data.replace(to_replace =["Business Loan", "other", "Buy a Car", "Medical Bills", "Buy House","Take a Trip","major_purchase", "small_business","moving", "wedding","Educational Expenses", "vacation", "renewable_energy"], value ="Other") 
data['Purpose'].value_counts()

Debt Consolidation    70099
Other                 13512
Home Improvements      5172
Name: Purpose, dtype: int64

In [53]:
data['Home Ownership'].value_counts() #discretisation

Home Mortgage    43100
Rent             37450
Own Home          8052
HaveMortgage       181
Name: Home Ownership, dtype: int64

In [54]:
## combiner Home Mortgage & HaveMortgage
data= data.replace(to_replace =["HaveMortgage"], value ="Home Mortgage") 
data['Home Ownership'].value_counts()

Home Mortgage    43281
Rent             37450
Own Home          8052
Name: Home Ownership, dtype: int64

In [55]:
data['Bankruptcies'].value_counts()

0.0    79244
1.0     9066
2.0      363
3.0       82
4.0       21
5.0        5
7.0        1
6.0        1
Name: Bankruptcies, dtype: int64

In [56]:
## discretisation du variable Bankruptcies
data['Bankruptcies'].mask(data['Bankruptcies'] > 0, '>=1', inplace=True)
data['Bankruptcies'].value_counts()
data['Bankruptcies']=data['Bankruptcies'].astype('object')
data['Bankruptcies'].value_counts()

0.0    79244
>=1     9539
Name: Bankruptcies, dtype: int64

In [57]:
data['Number of Credit Problems'].value_counts()

0.0     76699
1.0     10459
2.0      1118
3.0       327
4.0       107
5.0        43
6.0        13
7.0         8
8.0         3
9.0         2
15.0        1
12.0        1
11.0        1
10.0        1
Name: Number of Credit Problems, dtype: int64

In [58]:
## discretisation du variable Number of Credit Problems
data['Number of Credit Problems'].mask(data['Number of Credit Problems'] >= 2, '>=2', inplace=True)
data['Number of Credit Problems']=data['Number of Credit Problems'].astype('object')
data['Number of Credit Problems'].value_counts()

0.0    76699
1.0    10459
>=2     1625
Name: Number of Credit Problems, dtype: int64

## Export the data

In [31]:
data.to_csv("feature_selection/1_credit_prp.csv", index=False)

end