In [1]:
import pandas as pd
import numpy as np

 # Data introduction start

In [2]:
data = pd.read_csv('2_credit_qmvm.csv',encoding='latin-1')
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,>=1
1,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0
4,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0

In [3]:
data.isnull().sum()

Loan Status                      0
Current Loan Amount              0
Term                             0
Credit Score                 18301
Annual Income                18301
Years in current job             0
Home Ownership                   0
Purpose                          0
Monthly Debt                     0
Years of Credit History          0
Number of Open Accounts          0
Number of Credit Problems        0
Current Credit Balance           0
Maximum Open Credit              0
Bankruptcies                     0
dtype: int64

In [4]:
len(data[data['Credit Score'].isnull()].isnull())/len(data)

0.20613180451212507

# Case1 : Delete the missing values

In [5]:
data1 = data[data['Credit Score'].notna()].copy()

In [6]:
data1.isnull().sum()

Loan Status                  0
Current Loan Amount          0
Term                         0
Credit Score                 0
Annual Income                0
Years in current job         0
Home Ownership               0
Purpose                      0
Monthly Debt                 0
Years of Credit History      0
Number of Open Accounts      0
Number of Credit Problems    0
Current Credit Balance       0
Maximum Open Credit          0
Bankruptcies                 0
dtype: int64

## Emport the data

In [7]:
data1.to_csv("Continuous deleted/3_credit_qmvm_cmvd.csv", index=False)

# CASE3 : Replace with the median

In [14]:
medianCS = data['Credit Score'].median()

In [15]:
medianAI = data['Annual Income'].median()

In [16]:
data3 = data.copy()

In [17]:
data3['Credit Score'].fillna(medianCS, inplace = True)

In [18]:
data3['Annual Income'].fillna(medianAI, inplace = True)

## Emport the data

In [19]:
data3.to_csv("Continuous to median/3_credit_qmvm_cmvm.csv", index=False)

 end