In [3]:
import pandas as pd
import numpy as np

 # Data introduction start

In [4]:
data = pd.read_csv('3_credit_qmvd_cmvd.csv',encoding='latin-1')
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,>=1
1,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0
2,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0
3,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,6.0,0.0,215308.0,272448.0,0.0
4,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,13.0,1.0,122170.0,272052.0,>=1

# Case1 : Z-score

In [5]:
data1= data.copy()
cols= ['Current Loan Amount','Credit Score','Annual Income','Monthly Debt','Years of Credit History','Number of Open Accounts','Current Credit Balance','Maximum Open Credit']
for col in cols:
    data1[col] = (data1[col] - data1[col].mean())/data1[col].std(ddof=0)

## Export the data

In [6]:
data1.to_csv("Z normalised/z_norm.csv", index=False)

# CASE2 : MinMax

In [7]:
data2=data.copy()
for col in cols:
    data2[col] = (data2[col] - data2[col].min())/(data2[col].max() - data2[col].min())

## Export the data

In [8]:
data2.to_csv("MinMax normalised/min_max_norm.csv", index=False)

# CASE3 : Logistic

In [9]:
data3=data.copy()
for col in cols:
    data3[col] = (1 / (1 + np.exp(-data3[col])))

## Export the data

In [10]:
data3.to_csv("Logistic normalised/logis_norm.csv", index=False)

 end