In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

 # Data introduction start

In [2]:
data = pd.read_csv('4_credit_qmvd_cmvm_mm.csv',encoding='latin-1')
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies
0,Fully Paid,0.004301,Short Term,0.017906,0.006592,8 years,Home Mortgage,Home Improvements,0.011965,0.203288,0.078947,1.0,0.006940,0.000271,>=1
1,Fully Paid,0.002469,Short Term,0.020794,0.006781,10+ years,Home Mortgage,Debt Consolidation,0.076394,0.261584,0.460526,0.0,0.006995,0.000553,0.0
2,Fully Paid,1.000000,Short Term,0.022527,0.013024,8 years,Own Home,Debt Consolidation,0.066998,0.168909,0.236842,1.0,0.009063,0.000487,0.0
3,Fully Paid,0.003323,Long Term,0.019639,0.004413,3 years,Own Home,Debt Consolidation,0.020057,0.125561,0.118421,0.0,0.007796,0.000251,0.0
4,Fully Paid,0.001608,Short Term,0.020794,0.006781,5 years,Rent,Debt Consolidation,0.047356,0.037369,0.197368,0.0,0.007709,0.000277,0.0

In [3]:
len(data)

85791

# Split the data

In [4]:
N = len(data)
data_indices = data.index
random_indices20 = np.random.choice(data_indices,(int(N*20/100)), replace=False)
random_indices80 = data_indices.drop(random_indices20)
data_test = data.loc[random_indices20]
data_train = data.loc[random_indices80]

## Emport the data

In [5]:
data_test.to_csv("5_credit_qmvd_cmvm_mm_test.csv", index=False)
data_train.to_csv("5_credit_qmvd_cmvm_mm_train.csv", index=False)

 end