In [12]:
import pandas as pd

 # Data introduction start

In [13]:
data = pd.read_csv('data.csv',encoding='latin-1')
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Monthly Debt,Years of Credit History,Current Credit Balance,Maximum Open Credit
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,5214.74,17.2,228190.0,416746.0
1,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,33295.98,21.1,229976.0,850784.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,29200.53,14.9,297996.0,750090.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,8741.90,12.0,256329.0,386958.0
4,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,20639.70,6.1,253460.0,427174.0

In [14]:
len(data)

88783

In [15]:
data.isnull().sum()

Loan Status                    0
Current Loan Amount            0
Term                           0
Credit Score               18301
Annual Income              18301
Years in current job        2992
Home Ownership                 0
Monthly Debt                   0
Years of Credit History        0
Current Credit Balance         0
Maximum Open Credit            0
dtype: int64

# Qualitative data : 'Years in current job'

In [16]:
len(data[data['Years in current job'].isnull()])/len(data) # = 3% so we can accept to delete it

0.03370014529808635

## CASE1 : delete le missing values

In [17]:
data1 = data[data['Years in current job'].notna()].copy()

### Export the data1

In [18]:
data1.to_csv("Qualitative deleted/2_credit_qmvd.csv", index=False)

## CASE2 : replace the missing values with the mode

In [19]:
data['Years in current job'].mode()

0    10+ years
dtype: object

In [20]:
data2 = data.copy()

In [21]:
data2['Years in current job'].fillna('10+ years',inplace=True)

### Export the data1

In [22]:
data2.to_csv("Qualitative to mode/2_credit_qmvm.csv", index=False)

end