In [1]:
import pandas as pd
import numpy as np

 # Data introduction start

In [2]:
data = pd.read_csv('data.csv')
data.head()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Current Credit Balance,Maximum Open Credit,Term_Short Term,Years in current job_10+ years,...,Years in current job_7 years,Years in current job_8 years,Years in current job_9 years,Years in current job_< 1 year,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Home Improvements,Purpose_Other,Bankruptcies_>=1,Loan Status
0,445412.0,709.0,1167493.0,5214.74,17.2,6.0,228190.0,416746.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1
1,99999999.0,741.0,2231892.0,29200.53,14.9,18.0,297996.0,750090.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2,206602.0,7290.0,896857.0,16367.74,17.3,6.0,215308.0,272448.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,217646.0,730.0,1184194.0,10855.08,19.6,13.0,122170.0,272052.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,548746.0,678.0,2559110.0,18660.28,22.6,4.0,437171.0,555038.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1

# Case1 : Z-score

In [3]:
data1= data.copy()
cols= ['Current Loan Amount','Credit Score','Annual Income','Monthly Debt','Years of Credit History','Current Credit Balance','Maximum Open Credit', 'Number of Open Accounts']
for col in cols:
    data1[col] = (data1[col] - data1[col].mean())/data1[col].std(ddof=0)

## Export the data

In [4]:
data1.to_csv("Z normalised/z_norm.csv", index=False)

# CASE2 : MinMax

In [5]:
data2=data.copy()
for col in cols:
    data2[col] = (data2[col] - data2[col].min())/(data2[col].max() - data2[col].min())

## Export the data

In [6]:
data2.to_csv("MinMax normalised/min_max_norm.csv", index=False)

# CASE3 : Logistic

In [7]:
data3=data.copy()
for col in cols:
    data3[col] = (1 / (1 + np.exp(-data3[col])))

## Export the data

In [8]:
data3.to_csv("Logistic normalised/logis_norm.csv", index=False)

 end