In [114]:
import pandas as pd
import numpy as np

 # Data introduction start

In [115]:
data = pd.read_csv('3_credit_qmvd_cmvd.csv',encoding='latin-1')
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,>=1
1,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0
2,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0
3,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,6.0,0.0,215308.0,272448.0,0.0
4,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,13.0,1.0,122170.0,272052.0,>=1

In [116]:
len(data)

67490

In [117]:
data.dtypes

Loan Status                   object
Current Loan Amount          float64
Term                          object
Credit Score                 float64
Annual Income                float64
Years in current job          object
Home Ownership                object
Purpose                       object
Monthly Debt                 float64
Years of Credit History      float64
Number of Open Accounts      float64
Number of Credit Problems     object
Current Credit Balance       float64
Maximum Open Credit          float64
Bankruptcies                  object
dtype: object

# Case1 : Z-score

In [118]:
data1 = data.copy()

In [119]:
cla_mean = data1['Current Loan Amount'].mean()
cla_std = data1['Current Loan Amount'].std()
data1['Current Loan Amount'] = (data1['Current Loan Amount'] - cla_mean)/cla_std

In [120]:
cs_mean = data1['Credit Score'].mean()
cs_std = data1['Credit Score'].std()
data1['Credit Score'] = (data1['Credit Score'] - cs_mean)/cs_std

In [121]:
ai_mean = data1['Annual Income'].mean()
ai_std = data1['Annual Income'].std()
data1['Annual Income'] = (data1['Annual Income'] - ai_mean)/ai_std

In [122]:
md_mean = data1['Monthly Debt'].mean()
md_std = data1['Monthly Debt'].std()
data1['Monthly Debt'] = (data1['Monthly Debt'] - md_mean)/md_std

In [123]:
ych_mean = data1['Years of Credit History'].mean()
ych_std = data1['Years of Credit History'].std()
data1['Years of Credit History'] = (data1['Years of Credit History'] - ych_mean)/ych_std

In [124]:
noa_mean = data1['Number of Open Accounts'].mean()
noa_std = data1['Number of Open Accounts'].std()
data1['Number of Open Accounts'] = (data1['Number of Open Accounts'] - noa_mean)/noa_std

In [125]:
ccb_mean = data1['Current Credit Balance'].mean()
ccb_std = data1['Current Credit Balance'].std()
data1['Current Credit Balance'] = (data1['Current Credit Balance'] - ccb_mean)/ccb_std

In [126]:
moc_mean = data1['Maximum Open Credit'].mean()
moc_std = data1['Maximum Open Credit'].std()
data1['Maximum Open Credit'] = (data1['Maximum Open Credit'] - moc_mean)/moc_std

## Emport the data

In [127]:
data1.to_csv("4_credit_qmvd_cmvd_z.csv", index=False)

# CASE2 : MinMax

In [128]:
data2 = data.copy()

In [129]:
cla_min = data2['Current Loan Amount'].min()
cla_max = data2['Current Loan Amount'].max()
data2['Current Loan Amount'] = (data2['Current Loan Amount'] - cla_min)/(cla_max-cla_min)

In [130]:
cs_min = data2['Credit Score'].min()
cs_max = data2['Credit Score'].max()
data2['Credit Score'] = (data2['Credit Score'] - cs_min)/(cs_max-cs_min)

In [131]:
ai_min = data2['Annual Income'].min()
ai_max = data2['Annual Income'].max()
data2['Annual Income'] = (data2['Annual Income'] - ai_min)/(ai_max-ai_min)

In [132]:
md_min = data2['Monthly Debt'].min()
md_max = data2['Monthly Debt'].max()
data2['Monthly Debt'] = (data2['Monthly Debt'] - md_min)/(md_max-md_min)

In [133]:
ych_min = data2['Years of Credit History'].min()
ych_max = data2['Years of Credit History'].max()
data2['Years of Credit History'] = (data2['Years of Credit History'] - ych_min)/(ych_max-ych_min)

In [134]:
noa_min = data2['Number of Open Accounts'].min()
noa_max = data2['Number of Open Accounts'].max()
data2['Number of Open Accounts'] = (data2['Number of Open Accounts'] - noa_min)/(noa_max-noa_min)

In [135]:
ccb_min = data2['Current Credit Balance'].min()
ccb_max = data2['Current Credit Balance'].max()
data2['Current Credit Balance'] = (data2['Current Credit Balance'] - ccb_min)/(ccb_max-ccb_min)

In [136]:
moc_min = data2['Maximum Open Credit'].min()
moc_max = data2['Maximum Open Credit'].max()
data2['Maximum Open Credit'] = (data2['Maximum Open Credit'] - moc_min)/(moc_max-moc_min)

## Emport the data

In [137]:
data2.to_csv("4_credit_qmvd_cmvd_mm.csv", index=False)

# CASE2 : Logistic

In [138]:
data3 = data.copy()

In [139]:
data3['Current Loan Amount'] = (1 / (1 + np.exp(-data3['Current Loan Amount'])))

In [140]:
data3['Credit Score'] = (1 / (1 + np.exp(-data3['Credit Score'])))

In [141]:
data3['Annual Income'] = (1 / (1 + np.exp(-data3['Annual Income'])))

In [142]:
data3['Monthly Debt'] = (1 / (1 + np.exp(-data3['Monthly Debt'])))

In [143]:
data3['Years of Credit History'] = (1 / (1 + np.exp(-data3['Years of Credit History'])))

In [144]:
data3['Number of Open Accounts'] = (1 / (1 + np.exp(-data3['Number of Open Accounts'])))

In [145]:
data3['Current Credit Balance'] = (1 / (1 + np.exp(-data3['Current Credit Balance'])))

In [146]:
data3['Maximum Open Credit'] = (1 / (1 + np.exp(-data3['Maximum Open Credit'])))

## Emport the data

In [148]:
data3.to_csv("4_credit_qmvd_cmvd_l.csv", index=False)

 end