In [98]:
from imblearn.under_sampling import TomekLinks
from pylab import rcParams
rcParams['figure.figsize'] = 10, 5
import warnings
warnings.filterwarnings('ignore')
from imblearn.over_sampling import SMOTE
import pandas as pd

In [99]:
data= pd.read_csv('3_credit_qmvd_cmvd.csv')
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Monthly Debt,Years of Credit History,Current Credit Balance,Maximum Open Credit
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,5214.74,17.2,228190.0,416746.0
1,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,29200.53,14.9,297996.0,750090.0
2,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,8741.90,12.0,256329.0,386958.0
3,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,16367.74,17.3,215308.0,272448.0
4,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,10855.08,19.6,122170.0,272052.0

In [100]:
data.dtypes

Loan Status                 object
Current Loan Amount        float64
Term                        object
Credit Score               float64
Annual Income              float64
Years in current job        object
Home Ownership              object
Monthly Debt               float64
Years of Credit History    float64
Current Credit Balance     float64
Maximum Open Credit        float64
dtype: object

In [101]:
#encode the loan status variable
data['Loan Status'].mask(data['Loan Status'] == 'Fully Paid', 1 , inplace=True)
data['Loan Status'].mask(data['Loan Status'] == 'Charged Off', 0 , inplace=True)
##Spliting en X and Y
X= data.drop('Loan Status', axis=1)
Y= data['Loan Status']
Y=Y.astype('int')

### One hot encoding

In [102]:
X= pd.get_dummies(X, drop_first= True)

### balancing the data (SMOTE)

In [103]:
sm =SMOTE()
X_sm, Y_sm = sm.fit_resample(X, Y)

In [104]:
## return to dataframe structure
X_sm = pd.DataFrame(X_sm, columns=X.columns)

In [105]:
data_exp= X_sm
data_exp['Loan Status']= Y_sm

### export data

In [106]:
data_exp.to_csv("Balancing_Oversamlping_SMOTE/data.csv", index=False)

### balancing the data (TomekLinks)

In [107]:
tm =TomekLinks()
X_tk, Y_tk = tm.fit_resample(X, Y)

In [108]:
## return to dataframe structure
X_tk = pd.DataFrame(X_tk, columns=X.columns)

In [109]:
data_exp= X_tk
data_exp['Loan Status']= Y_tk

In [110]:
### export data

In [111]:
data_exp.to_csv("Balancing_Undersampling_Tomeklinks/data.csv", index=False)